#main {
    width: 100%;
    position: relative;
}

#chess-board {
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
}

.start-btn {
    padding: 20px 40px;
    border: 2px solid #b0e969;
    border-radius: 30px;
    background-color: #7fa650;
    box-shadow: 2px 0px 10px 1px #eeeed2;
    font-size: 2.5em;
    color: #30411d;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.start-btn:hover, .start-btn:active {
    cursor: pointer;    
}

.start-btn:active {
    padding: 17px 35px;
    box-shadow: none;
    font-size: 2.1em;
    background-color: #b0e969;
}


.chess-board-div {
    background-color: white;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
}

.chess-board-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px;
}

.chess-board-box {
    width: 62px;
    height: 62px;
    position: relative;
}

.light-square {
    background-color: #eeeed2;
}

.dark-square {
    background-color: #7fa650;
}

.chess-board-box:hover {
    margin: 1px;
    width: 61px;
    height: 61px;
}

.chess-board-box:active {
    background-color: rgba(255,255,0,0.5);
}

.chess-board-box.active {
    background-color: rgba(255,255,0,0.5);
}

.chess-board-box.danger {
    background-color: rgba(255,0,0,0.5);
}

.notation {
    position: absolute;
    font-weight: bold;
    z-index: 0;
}

.numberNotation {
    top: 5px;
    left: 5px;
}

.alphaNotation {
    bottom: 5px;
    right: 5px;
}

.light-notation {
    color: #eeeed2;
}

.dark-notation {
    color: #7fa650;
}

.chess-piece {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.hint-box {
    position: absolute;
    max-width: 62px;
    max-height: 62px;
    cursor: pointer;
    padding: 22px;
}

.hint-box-dot {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.3);
}

#player-1, #player-2 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#player-1 {
    align-items: flex-start;
    top: 505px;
    right: 0;
}

#player-2 {
    align-items: flex-end;
    bottom: 505px;
    left: 0;
}

#player-1 > .time, #player-2 > .time {
    background-color: #f5f5f5;
    padding: 10px 12px;
    font-size: 1.5em;
    width: 60px;
    text-align: center;
    border-radius: 10px;
}

#player-1 > .removed-pieces, #player-2 > .removed-pieces {
    border: 5px solid #b0e969;
    width: 400px;
    height: 42px;
    border-radius: 10px;
}

#player-1 > .removed-pieces {
    background: linear-gradient(#bbbbbb 0%, #909090 50%, #606060 100%);
}

#player-2 > .removed-pieces {
    background: linear-gradient(#505050 0%, #707070 50%, #909090 100%);
}


.board-controls-div {
    margin: 0 auto;
    margin-top: 80px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.control-btn {
    padding: 10px 20px;
    border: 3px solid #7fa650;
    border-radius: 10px;
    background-color: #b0e969;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.control-btn:hover, .control-btn:active {
    cursor: pointer;    
}

.control-btn:active {
    background-color: #7fa650;
    outline: 2px solid white;
}

.prev-btn, .next-btn {
    background-color: #4f4f4f;
    border: 3px solid #0d0d0d;
    color: #8f8f8f;
    padding: 5px 10px;
    padding-top: 7px;
}

.prev-btn:active, .next-btn:active {
    background-color: #606060;
    outline: 2px solid white;
}

.prev-btn > img, .next-btn > img {
    width: 25px;
    height: 25px;
}

.control-btn:disabled {
    cursor: not-allowed;
}

.timer-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-btn {
    background-color: #4f4f4f;
    border: 3px solid #707070;
    padding: 10px 15px;
    border-radius: 15px;
}

.timer-btn > img {
    width: 30px;
    height: 30px;
}

.timer-btn:active, .timer-btn:hover {
    background-color: #5f5f5f;
}

.starting-banner {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(0,0,0,0.9);
}

.banner-div {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-img {
    width: calc(min(90vw, 500px));
    height: calc(min(90vh, 500px));
}

.banner-img > img {
    width: inherit;
    height: inherit;
    border-radius: 10px;
}

.lets-play-btn {
    margin-top: 10px;
    padding: 10px 20px;
    width: calc(min(90vw, 500px));
    border: 3px solid #7fa650;
    border-radius: 10px;
    background-color: #b0e969;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 800;
    transition: all 0.3s ease-in-out;
}

.lets-play-btn:hover, .lets-play-btn:active {
    cursor: pointer;    
    background-color: #7fa650;
}

@media screen and (max-width: 550px) {

    #chess-board {
        width: 300px;
    }

    .chess-board-div {
        width: 300px;
        height: 300px;
    }

    .chess-board-box {
        width: 37px;
        height: 37px;
    }

    .chess-board-box:hover {
        width: 36px;
        height: 36px;
    }

    .notation {
        font-size: xx-small;
    }

    .numberNotation {
        top: 3px;
        left: 3px;
    }

    .alphaNotation {
        bottom: 3px;
        right: 3px;
    }

    .hint-box {
        max-width: 37px;
        max-height: 37px;
        padding: 13px;
    }

    .hint-box-dot {
        width: 10px;
        height: 10px;
    }

    #player-1 {
        top: 305px;
    }

    #player-2 {
        bottom: 305px;
    }

    #player-1 > .time, #player-2 > .time {
        padding: 8px 10px;
        font-size: 1.2em;
        width: 50px;
        text-align: center;
    }

    #player-1 > .removed-pieces, #player-2 > .removed-pieces {
        width: 215px;
        height: 30px;
    }

    .board-controls-div {
        width: 300px;
        margin-top: 70px;
    }

    .control-btn {
        padding: 7px 15px;
        border-radius: 8px;
    }

    .prev-btn, .next-btn {
        padding: 5px 10px;
        padding-top: 7px;
    }

    .prev-btn > img, .next-btn > img {
        width: 20px;
        height: 20px;
    }

}